body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #316b7d;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.product-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product {
    width: calc(33.33% - 40px);
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
}


footer {
    background-color: #316b7d;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.product img{
    width: 100%;
    object-fit: cover;
}
h2{
    text-align: center;
    border-bottom: 1px #999 dotted;
    padding-bottom: 10px;
}
main{
    margin-bottom: 70px;
    float: left;
    width: 100%;
}
/* product */
.left-box {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-box {
    float: left;
    width: 75%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .product-list {
    display: flex;
    flex-wrap: wrap;
} */

/* .productlist {
    width: 30%;
    margin: 15px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.productlist:hover {
    transform: scale(1.05);
} */

.pagination {
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    float: left;
    width: 100%;

}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #316b7d;
    color: #fff;
    border-radius: 3px;
}
.productlist img{
    width: 100%;
    object-fit: cover;
}
h2{
    text-align: center;
    border-bottom: 1px #999 dotted;
    padding-bottom: 10px;
}


.left-box h2 {
    color: #316b7d;
    border-bottom: 1px solid #316b7d;
}

.left-box ul {
    list-style: none;
    padding: 0;
}

.left-box li {
    margin-bottom: 10px;
}

.left-box a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.left-box a:hover {
    background-color: #316b7d;
    color: #fff;
}
/* detail */
.product-detail {
    display: flex;
    align-items: center;
}

.product-image {
    flex: 1;
    width: 50%;
}

.product-image img {
    width: 100%;
}

.product-info {
    flex: 1;
    padding-left: 20px;
}

.product-info p span{
    color: red;
}

.product-info h2 {
    color: #316b7d;
}

.product-info p {
    color: #666;
}

.order-button {
    background-color: #316b7d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.related-products {
    margin-top: 40px;
}

.related-products h3 {
    color: #316b7d;
}

.related-products .product {
    display: flex;
    margin-bottom: 20px;
}

.related-products .product img {
    width: 100%;
    object-fit: cover;
    margin-right: 10px;
}

.related-products .product-info {
    flex: 1;
}